body{
	font-size: 100%;
	line-height: 1.2;
	max-width: 960px;
	margin: 0 auto;
	padding: 0; 
	background-color: #C0C0C0;
}

ul{
	list-style-type: none;
	margin-left: -4%;
	font-weight: bold;
}

li{
	font-family: sans-serif;
	font-size: 1.25em;
}


/* Sections---------------------------------------------------------*/

section{
	background-color: #181818;
	border: 2px outset #333;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #333;
	color: #E6E6FF;
	padding: 1.0416667%;
	margin-bottom: 10px;
}

